html {
	font-family: serif;
	background: url("assets/pattern.png") repeat;
	background-attachment: fixed;
}

@media only screen and (min-width: 860px) {
	body {
		margin: auto;
	}
}

body {
	max-width: 800px;
}

#projects, #services, #presentation, footer {
	background: white;
	padding: 0px;
	margin: 8px;
	border: 2px solid black;
	box-shadow: 4px 4px black;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

h2, h1 {
	margin: 0px;
	padding: 8px; 
	border-bottom: 2px solid black;
}

h3 {
	margin: 0px;
	padding: 0px;
}

p {
	margin: 0px 0px 8px 0px;
}

#presentation p, footer p {
	margin: 8px;
}


.project_title, .service_title {
	margin: 8px;
}

.tag {
	padding: 4px;
	margin-right: 4px;
	border: dashed 1px #000;
}

.taglist {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0px;
}

footer p {
	text-align: center;
}
